<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>ユーザ一覧</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>ユーザ一覧</h1>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>氏名</th>
            <th>年齢</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td><a class="btn btn-secondary btn-sm" th:href="@{/users/{id}(id=${user.id})}">詳細</a></td>
            <td><a class="btn btn-secondary btn-sm" th:href="@{/users/{id}/edit(id=${user.id})}">更新</a></td>
            <td>
              <form th:action="@{/users/{id}(id=${user.id})}" th:method="delete">
                <input class="btn btn-secondary btn-sm" type="submit" value="削除" />
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-secondary btn-sm" href="/users/new">新規登録</a>
    </div>
  </body>
</html>